
 <p>Welcome to PicBooks 1.0.0</p>
<p> <h1>......Because every picture  </p>
<p > tells a story...... </h1> </p>
<p> <h3> what does yours say? <h3> </p> 

          {{!-- <img   alt="image"  width=100% src="{{process.env.PWD}}/story.png" >  --}}
 


<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>